{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}


{% block main %}
<div class="container2">
    Register
</div>
<div class="container">
    <div class="section">
    <form action="/signup" method="post">
        <input autocomplete="off" required name="email" placeholder="name" type="text"><br>
        <input autocomplete="off" required name="password" placeholder="password" type="password"><br>
        <input autocomplete="off" required name="confirmation" placeholder="password confirmation" type="password"><br>
        <button type="submit"><a class="nav-link">Register</a></button>
    </form>
    <form action="/" method="get">
        <button type="submit"><a class="nav-link">Back</a></button>

    </form>
</div>
</div>
{% endblock %}

